docs/xml-demo/ai4pde_case.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

  <!-- ================================================================ -->
  <!--  Enumerations — must match metaharness_ai4pde.types exactly      -->
  <!-- ================================================================ -->

  <xs:simpleType name="ProblemTypeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="forward"/>
      <xs:enumeration value="inverse"/>
      <xs:enumeration value="design"/>
      <xs:enumeration value="surrogate"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="RiskLevelType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="green"/>
      <xs:enumeration value="yellow"/>
      <xs:enumeration value="red"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SolverFamilyType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="pinn_strong"/>
      <xs:enumeration value="dem_energy"/>
      <xs:enumeration value="operator_learning"/>
      <xs:enumeration value="pino"/>
      <xs:enumeration value="classical_hybrid"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="BCKindType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="D"/>   <!-- Dirichlet -->
      <xs:enumeration value="N"/>   <!-- Neumann -->
      <xs:enumeration value="P"/>   <!-- Periodic -->
      <xs:enumeration value="R"/>   <!-- Robin -->
      <xs:enumeration value="USERDEFINED"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="MeshSourceType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="generated"/>
      <xs:enumeration value="file"/>
      <xs:enumeration value="analytic"/>
      <xs:enumeration value="external"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ConstraintKindType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="boundary_consistency"/>
      <xs:enumeration value="mass_conservation"/>
      <xs:enumeration value="energy_conservation"/>
      <xs:enumeration value="momentum_conservation"/>
      <xs:enumeration value="custom"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ================================================================ -->
  <!--  Shared attribute-group types                                    -->
  <!-- ================================================================ -->

  <xs:complexType name="ParameterType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="name" type="xs:string" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!--
    P9: When both @value and @file are present the effective boundary
    condition is the product  value × file_field.  This matches Nektar++
    semantics (see ch03-XML-guide §3.3.6.5).  Parser implementations
    must document this behaviour.
  -->
  <xs:complexType name="FieldExprType">
    <xs:annotation>
      <xs:documentation>
        When both value and file are provided the effective field is
        their product (Nektar++ §3.3.6.5).
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="var" type="xs:string" use="required"/>
    <xs:attribute name="value" type="xs:string" use="optional"/>
    <xs:attribute name="file" type="xs:string" use="optional"/>
    <xs:attribute name="userDefinedType" type="xs:string" use="optional"/>
  </xs:complexType>

  <!-- P3: kind restricted to known BC types -->
  <xs:complexType name="BoundaryExprType">
    <xs:attribute name="kind" type="BCKindType" use="required"/>
    <xs:attribute name="var" type="xs:string" use="required"/>
    <xs:attribute name="value" type="xs:string" use="optional"/>
    <xs:attribute name="file" type="xs:string" use="optional"/>
    <xs:attribute name="userDefinedType" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="BoundaryRegionType">
    <xs:sequence>
      <xs:element name="BC" type="BoundaryExprType" minOccurs="1"
                  maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="selector" type="xs:string" use="optional"/>
  </xs:complexType>

  <!-- ================================================================ -->
  <!--  Problem section  (P1: renamed from ProblemType)                 -->
  <!-- ================================================================ -->

  <xs:complexType name="ProblemSectionType">
    <xs:sequence>
      <xs:element name="Equation" minOccurs="1" maxOccurs="1">
        <xs:complexType>
          <xs:attribute name="system" type="xs:string" use="required"/>
          <xs:attribute name="form" type="xs:string" use="optional"/>
          <!--
            P2: expression may reference parameters declared in
            /Problem/Parameters.  Cross-reference validation is the
            responsibility of the case parser, not XSD.
          -->
          <xs:attribute name="expression" type="xs:string" use="optional"/>
          <xs:attribute name="stationary" type="xs:boolean" use="optional"/>
        </xs:complexType>
      </xs:element>

      <xs:element name="Variables" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="V" minOccurs="1" maxOccurs="unbounded">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="id" type="xs:integer" use="optional"/>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="Parameters" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="P" type="ParameterType" minOccurs="0"
                        maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="InitialConditions" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="F" type="FieldExprType" minOccurs="0"
                        maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="BoundaryConditions" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Region" type="BoundaryRegionType" minOccurs="0"
                        maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="Reference" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:attribute name="kind" type="xs:string" use="required"/>
          <xs:attribute name="source" type="xs:string" use="optional"/>
          <xs:attribute name="metric" type="xs:string" use="optional"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="type" type="ProblemTypeType" use="required"/>
    <xs:attribute name="domainDim" type="xs:positiveInteger" use="required"/>
    <xs:attribute name="spaceDim" type="xs:positiveInteger" use="required"/>
  </xs:complexType>

  <!-- ================================================================ -->
  <!--  Geometry section                                                -->
  <!-- ================================================================ -->

  <!--
    P10: When Mesh/@source="file", the Domain element should be absent
    (the mesh file defines its own geometry).  When
    Mesh/@source="analytic", the Mesh element is optional.
    Enforcement is at the parser layer.
  -->
  <xs:complexType name="GeometryType">
    <xs:annotation>
      <xs:documentation>
        Domain and Mesh are loosely coupled: source="file" implies
        geometry comes from the mesh file itself (Domain optional).
        source="analytic" implies no external mesh file is needed.
        source="generated" requires Domain to define the analytic
        shape from which a mesh is produced.  Cross-validation is
        performed by the case parser.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Domain" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:attribute name="shape" type="xs:string" use="optional"/>
          <xs:attribute name="bounds" type="xs:string" use="optional"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="Mesh" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <!-- P4: source restricted to known mesh origins -->
          <xs:attribute name="source" type="MeshSourceType" use="required"/>
          <xs:attribute name="file" type="xs:string" use="optional"/>
          <xs:attribute name="format" type="xs:string" use="optional"/>
          <xs:attribute name="elementType" type="xs:string" use="optional"/>
          <xs:attribute name="curved" type="xs:boolean" use="optional"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="representation" type="xs:string" use="optional"/>
  </xs:complexType>

  <!-- ================================================================ -->
  <!--  Discretization section                                          -->
  <!-- ================================================================ -->

  <xs:complexType name="DiscretizationType">
    <xs:sequence>
      <xs:element name="Solver" minOccurs="1" maxOccurs="1">
        <xs:complexType>
          <xs:attribute name="family" type="SolverFamilyType" use="required"/>
          <xs:attribute name="backend" type="xs:string" use="optional"/>
          <!--
            P8: When backend="nektar++", use nektarSolver to specify the
            Nektar++ solver executable name (e.g. IncNavierStokesSolver).
            The "driver" attribute selects the Nektar++ driver
            (Standard, ModifiedArnoldi, etc.).
          -->
          <xs:attribute name="nektarSolver" type="xs:string" use="optional"/>
          <xs:attribute name="driver" type="xs:string" use="optional"/>
          <xs:attribute name="templateId" type="xs:string" use="optional"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="Space" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:attribute name="projection" type="xs:string" use="optional"/>
          <xs:attribute name="basis" type="xs:string" use="optional"/>
          <xs:attribute name="order" type="xs:positiveInteger" use="optional"/>
          <xs:attribute name="quadrature" type="xs:string" use="optional"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="TimeIntegration" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:attribute name="method" type="xs:string" use="optional"/>
          <xs:attribute name="variant" type="xs:string" use="optional"/>
          <xs:attribute name="order" type="xs:positiveInteger" use="optional"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="LinearSolver" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:attribute name="type" type="xs:string" use="optional"/>
          <xs:attribute name="preconditioner" type="xs:string" use="optional"/>
          <xs:attribute name="tolerance" type="xs:string" use="optional"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- ================================================================ -->
  <!--  Execution section                                               -->
  <!-- ================================================================ -->

  <xs:complexType name="ExecutionType">
    <xs:sequence>
      <xs:element name="Resources" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:attribute name="gpuHours" type="xs:decimal" use="optional"/>
          <xs:attribute name="cpuHours" type="xs:decimal" use="optional"/>
          <xs:attribute name="walltimeHours" type="xs:decimal" use="optional"/>
          <xs:attribute name="hpcQuota" type="xs:decimal" use="optional"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="Checkpoint" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:attribute name="enabled" type="xs:boolean" use="optional"/>
          <xs:attribute name="frequency" type="xs:positiveInteger" use="optional"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="riskLevel" type="RiskLevelType" use="optional"/>
  </xs:complexType>

  <!-- ================================================================ -->
  <!--  Validation section                                              -->
  <!-- ================================================================ -->

  <xs:complexType name="ValidationType">
    <xs:sequence>
      <xs:element name="Residual" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:attribute name="metric" type="xs:string" use="optional"/>
          <xs:attribute name="target" type="xs:string" use="optional"/>
        </xs:complexType>
      </xs:element>
      <!-- M6: kind restricted to known constraint categories -->
      <xs:element name="Constraint" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="kind" type="ConstraintKindType" use="required"/>
          <xs:attribute name="target" type="xs:string" use="optional"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- ================================================================ -->
  <!--  Visualization section                                           -->
  <!-- ================================================================ -->

  <!-- P5: Probe supports four modes matching Nektar++ HistoryPoints -->
  <xs:complexType name="VisualizationType">
    <xs:sequence>
      <xs:element name="FieldOutput" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="format" type="xs:string" use="required"/>
          <xs:attribute name="frequency" type="xs:positiveInteger" use="optional"/>
          <xs:attribute name="file" type="xs:string" use="optional"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="Probe" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="name" type="xs:string" use="required"/>
          <xs:attribute name="point" type="xs:string" use="optional"/>
          <xs:attribute name="line" type="xs:string" use="optional"/>
          <xs:attribute name="plane" type="xs:string" use="optional"/>
          <xs:attribute name="box" type="xs:string" use="optional"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="DerivedField" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="name" type="xs:string" use="required"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="Plot" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="type" type="xs:string" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- ================================================================ -->
  <!--  Adaptivity section                                              -->
  <!-- ================================================================ -->

  <!--
    P6: These parameters map to MHE optimizer primitives:
      - targetError  → convergence target in TripleConvergence
      - maxIters     → maximum MetaCycle iterations
      - stagnationLimit → DeadEndDetector.stagnation_threshold
    Actual wiring is done by MethodRouter at plan construction time.
  -->
  <xs:complexType name="AdaptivityType">
    <xs:annotation>
      <xs:documentation>
        Maps to MHE optimizer layer: targetError → TripleConvergence,
        maxIters → MetaCycle limit, stagnationLimit → DeadEndDetector.
        These values are placed into PDEPlan.parameter_overrides, not
        PDETaskRequest.
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="strategy" type="xs:string" use="optional"/>
    <xs:attribute name="targetError" type="xs:string" use="optional"/>
    <xs:attribute name="maxIters" type="xs:positiveInteger" use="optional"/>
    <xs:attribute name="stagnationLimit" type="xs:positiveInteger" use="optional"/>
  </xs:complexType>

  <!-- ================================================================ -->
  <!--  Root element                                                    -->
  <!-- ================================================================ -->

  <xs:element name="AI4PDECase">
    <xs:complexType>
      <xs:sequence>
        <!--
          P7: requiredComponents lists the component slot IDs that must
          exist in the graphTemplate.  The case parser validates that
          each declared component is present in the graph before boot.
          Values are comma-separated slot IDs from slots.py, e.g.
          "reference_solver.primary,experiment_memory.primary".
        -->
        <xs:element name="Runtime" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:attribute name="graphTemplate" type="xs:string" use="optional"/>
            <xs:attribute name="manifestDir" type="xs:string" use="optional"/>
            <xs:attribute name="outputDir" type="xs:string" use="optional"/>
            <xs:attribute name="requiredComponents" type="xs:string" use="optional"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="Problem" type="ProblemSectionType"
                    minOccurs="1" maxOccurs="1"/>
        <xs:element name="Geometry" type="GeometryType"
                    minOccurs="0" maxOccurs="1"/>
        <xs:element name="Discretization" type="DiscretizationType"
                    minOccurs="1" maxOccurs="1"/>
        <xs:element name="Execution" type="ExecutionType"
                    minOccurs="0" maxOccurs="1"/>
        <xs:element name="Validation" type="ValidationType"
                    minOccurs="0" maxOccurs="1"/>
        <xs:element name="Visualization" type="VisualizationType"
                    minOccurs="0" maxOccurs="1"/>
        <xs:element name="Adaptivity" type="AdaptivityType"
                    minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="required"/>
      <xs:attribute name="version" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
